body {
    font: 20px, Arial, sans-serif;
}

.navbar {
    background-color: #239B56;
}

.quem-somos {
    background-color: #2E86C1;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #85C1E9;
    color: white;
}

.bg-footer {
    background-color: black;
    color: bisque;
}

.servicos {
    background-color: #D35400;
    color: white;
}